body {
    text-align: center;
    background-color: #283149;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  .w:hover {
   background-image: url('images/timball.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .a:hover{
    background-image :url('images/OIP.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  
  .d:hover {
    background-image: url('images/Hihat.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .j:hover{
  background-image:url('images/Precussion.jpeg');
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .k:hover {
    background-image: url('images/dhoom.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .l:hover {
  background-image: url('images/bhopu.jpeg');
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .s:hover{
    background-image :url('images/drum.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  